@import url();

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px; 
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

button {
    width: 172px;
    background-color: #3882F6;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    margin: 4px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


.header {
    background-color: #1F2937;
    padding: 8px 256px;
}

/* region Hero*/

.hero-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8
}

.hero-links {
    justify-content: space-evenly;
}



.hero-container {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin: 12px 0;
    padding: 120px 0;
    height: 256px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-welcome {
    display: flex;
    flex-direction: column;
    max-width: 512px;
    gap: 16px;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container img {
    width: 512px;
}
/*endregion*/



.top-container img {
    display: flex;
    gap: 64px;
    justify-content: center;
    width: 200px;
}

